<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.GenesisPlus</string>
	<key>Core Version</key>
	<string>1.7.4.14</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>6f4a64f9be8207ebe83c2ebdc479acfe</string>
	<key>Timestamp</key>
	<date>2022-02-09T11:37:50Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
