<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Nestopia</string>
	<key>Core Version</key>
	<string>1.51.1</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>007737c8fe8800b19c9886627f79fa75</string>
	<key>Timestamp</key>
	<date>2022-02-02T09:21:53Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
