<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.desmume</string>
	<key>Core Version</key>
	<string>0.9.11.3</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>40b054af6d51484fcff353594ec76350</string>
	<key>Timestamp</key>
	<date>2022-02-04T09:28:55Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
